/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.barra-nav {
    
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    background-color: rgba(163, 28, 175, 0.66);
    
}


nav {
    display: block;
}

